astropy==7.1.0
astropy-iers-data==0.2025.9.1.0.42.11
astroquery==0.4.10
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
html5lib==1.1
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
keyring==25.6.0
more-itertools==10.8.0
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pyerfa==2.0.1.5
python-dateutil==2.9.0.post0
pytz==2025.2
pyvo==1.7
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.5
six==1.17.0
soupsieve==2.8
spiceypy==6.0.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1