{% extends "base.html" %}

{% block title %}Apology{% endblock %}

{% block main %}
<div class="container6">
    <div class="content6">
        <div class="about-header6">
            <h2 class="page-title6">ABOUT US</h2>
            <div class="header-content6">
                <div class="header-photo6">
                    <img src="images/photo1.jpg" alt="Our Team" class="team-photo6">
                </div>
                <div class="header-text6">
                    <h3 class="team-title6">TEAM "MADNESS"/h3>
                    <p class="team-description6">Our team brings together talents from across Ukraine, gathered by the goal of creating an interactive tool for asteroid impact simulations.</p>
                </div>
            </div>
        </div>


        <div class="team-grid6">

            <div class="member-block6">
                <div class="member-photo6 photo-placeholder6">
                <img src="images/photo3.jpg" alt="Kateryna">
                </div>
                <div class="member-info6">
                    <h4 class="member-name6">Kateryna</h4>
                    <p class="member-role6">is the team lead. She assembled the group programmed key features and coordinated the workflow.</p>
                </div>
            </div>

                <div class="member-block6">
                <div class="member-photo6 photo-placeholder6">
                <img src="keenia.jpg" alt="Keenia">
                </div>
                <div class="member-info6">
                    <h4 class="member-name6">Kseenia</h4>
                    <p class="member-role6">focused on the front-end development and also supported text preparation.</p>
                </div>
            </div>

            <div class="member-block6">
                <div class="member-photo6 photo-placeholder6">
                <img src="images/photo4.jpg" alt="Neonin">
                </div>
                <div class="member-info6">
                    <h4 class="member-name6">Heorhii</h4>
                    <p class="member-role6">contributed to coding and carried out the main calculations for asteroid impacts.</p>
                </div>
            </div>




            <div class="member-block6">
                <div class="member-photo6 photo-placeholder6">
                <img src="images/dmytro.png" alt="Dmuro">
                </div>
                <div class="member-info6">
                    <h4 class="member-name6">Dmytro</h4>
                    <p class="member-role6">created the design mockups in Figma and produced the project video.</p>
                </div>
            </div>

            <div class="member-block6">
                <div class="member-photo6 photo-placeholder6">
            <img src="images/photo0.png" alt="Vladyslava">
            </div>
                <div class="member-info6">
                    <h4 class="member-name6">Vladyslava</h4>
                    <p class="member-role6">worked on presentation design and contributed to the written content.</p>
                </div>
            </div>


            <div class="member-block6">
                <div class="member-photo6 photo-placeholder6">
                <img src="images/photo2.jpg" alt="Oiksei">
                </div>
                <div class="member-info6">
                    <h4 class="member-name6">Oleksii</h4>
                    <p class="member-role6">researched scientific formulas and collected background studies to ensure scientific accuracy.</p>
                </div>
            </div>
        </div>

        <div class="action-section6">
            <button class="nav-button6" onclick="window.location.href='/'">Back</button>
        </div>
    </div>
</div>
{% endblock %}