{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block main %}
        <div class="content1">
            <div class="search-section1">
                <div class="material-selector1">
                    <h3 class="selector-title1">Пошук метеоритів</h3>
                    <div class="search-input-group1">
                        <input type="text" class="search-field1" placeholder="Введіть назву метеорита...">
                        <button class="search-btn1">Знайти</button>
                    </div>

                    <div class="results-list1">
                        <div class="result-item active1">1</div>
                        <div class="result-item1">2</div>
                        <div class="result-item1">3</div>
                        <div class="result-item1">4</div>
                        <div class="result-item1">5</div>
                    </div>
                </div>
            </div>
            <div class="details-section1">

<div class="meteor-gif1">
    <div class="gif-label1">Гіфка метеорита</div>
</div>


                <div class="material-selector1">
                    <h3 class="selector-title1">Характеристики метеорита</h3>
                    <div class="char-list1">
                        <div class="char-line1">
                            <span class="char-name1">Назва:</span>
                            <span class="char-value1">...</span>
                        </div>
                        <div class="char-line1">
                            <span class="char-name1">Тип:</span>
                            <span class="char-value1">...</span>
                        </div>
                        <div class="char-line1">
                            <span class="char-name1">Маса:</span>
                            <span class="char-value1">...</span>
                        </div>
                        <div class="char-line1">
                            <span class="char-name1">Швидкість:</span>
                            <span class="char-value1">...</span>
                        </div>
                        <div class="char-line1">
                            <span class="char-name1">Траєкторія:</span>
                            <span class="char-value1">...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
